* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;

  background-color: #121212;
  color: white;

  font-family: "Arial Rounded MT", sans-serif;
  font-size: 17px;
}

section {
  margin-bottom: 20vh;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin: 1.76rem;
}

.logo {
  font-size: 1.4em;
  text-decoration: none;

  /* border: 1px solid green; */
}

.menu {
  display: none;
  /* border: 2px solid green; */
}

.hero__title,
.section__content h1,
.footer h1 {
  margin: 0 auto;
  padding: 2rem;

  height: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;
  font-size: 1.5rem;

  /* border: 1px solid green; */
}

.hero__title h1,
.section__content h1,
.footer h1 {
  background: linear-gradient(to right, #f312cf, #00b2ff 75%, #00b2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__title h6,
.hero__text > h3 span {
  color: #797979;
}

.section__content h1,
.footer h1 {
  font-size: 2.15em;
  text-align: center;
}

.yourCodeYourCommand {
  margin: 1rem;
  border-radius: 15px;
  background: radial-gradient(#cc00ff, #00b2ff);
  /* border: 1px solid red; */
}

.yourCodeYourCommand h3 {
  margin: 0 auto;
  padding: 1rem 1rem;
  text-align: center;
}

.yourCodeYourCommand img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  /* border: 3px solid purple; */
  border-radius: 20px 20px 0 0;
  padding: 0;
}

.btn {
  padding: 0.75em 2em;
  font-size: 1.2rem;
  font-family: "Arial Rounded MT", sans-serif;
  font-weight: bolder;
  background-color: white;
  color: black;

  border-radius: 1em;
}

.footer .btn {
  margin: 2rem;
}

.hero__text {
  margin: 0 auto;
  padding: 2rem;

  text-align: left;

  /* border: 1px solid yellow; */
}

.img {
  margin: 0 auto;
  padding: 2rem;

  /* background: transparent; */
}

.featuresBox {
  margin: 0 auto;

  width: 90%;

  display: flex;
  flex-direction: column;
}

.features {
  padding: 0.3em;

  text-align: center;
  width: 80%;

  /* display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  flex-shrink: 1; */

  border-radius: 25px 25px 0 0;
}

.features h5 {
  padding: 0.2rem 1rem;
}

.features:nth-child(odd) {
  align-self: flex-start;
}

.features:nth-child(even) {
  align-self: flex-end;
}

.codeFlipper {
  background: linear-gradient(to bottom, #cc00ff, #000);
}

.codroid {
  background: linear-gradient(to bottom, #3f00a7, #000);
}

.opticode {
  background: linear-gradient(to bottom, #6b6b6b, #000);
}

.sqlizer {
  background: linear-gradient(to bottom, #0075ff, #000);
}

.bugfix {
  background: linear-gradient(to bottom, #410b91, #000);
}

.askYourCode {
  margin: 0 auto;
  width: 80%;

  margin-bottom: 5em;
}

.askYourCode img {
  border-radius: 20px;
  box-shadow: 0 0 50px rgb(255, 3, 255);
}

.footer {
  margin-bottom: 2em;
}

.footer form {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .hero__title h1 {
    margin-top: 0em;
    margin-bottom: 0;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.01em;
    background: linear-gradient(to bottom right, #f312cf 50%, #00b2ff, #00b2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .name {
    margin: 3em 5em;
  }

  .name a {
    color: white;
  }

  .logo {
    font-size: 3em;
  }

  .section__content h1,
  .footer h1 {
    background: linear-gradient(to right, #f312cf 40%, #00b2ff, #00b2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero__title h6 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }

  .hero__title form {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

  .hero__content {
    height: auto;
  }

  .section__content h1,
  .footer h1 {
    font-size: 4em;
  }

  .hero__text {
    font-size: 3em;
    padding: 2rem 10rem;
    text-align: center;
  }

  .hero__text h3 {
    margin-top: 3em;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-bottom: 0.5em;
  }

  .codilaritySpan span {
    background: linear-gradient(to bottom, #ff008a, #eb01ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .wmpSpan span {
    background: linear-gradient(to bottom, #ff00e5, #00c2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  section {
    /* height: 100vh; */
    margin-bottom: 10em;
  }
  .footer {
    height: 50vh;
  }

  .yourCodeYourCommand {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 1em;
    border-radius: 30px;
  }

  .yourCodeYourCommand h3 {
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 3em;
  }

  .yourCodeYourCommand img {
    width: 60%;
    margin: 5em 0 0 3em;
    display: block;

    border-radius: 30px 30px 0 0;
    /* border: 1px solid red; */
  }

  .features {
    border-radius: 40px 40px 0 0;
  }
  .features h5 {
    font-size: 1.5em;
  }

  .menu {
    display: block;
  }

  .nav__list {
    list-style: none;
  }

  .nav__item a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 1.47rem;
    font-weight: lighter;
  }

  .nav__item:nth-last-child(1) {
    margin-right: 4em;
  }
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}
.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 70px;
  height: 70px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus,
.social-button:hover {
  color: #fff;
}
.social-button:focus::after,
.social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 28px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  background: #6e5494;
}
.social-button--codepen {
  color: #212121;
}
.social-button--codepen::after {
  background: #212121;
}
.social-button--steam {
  color: #7da10e;
}
.social-button--steam::after {
  background: #7da10e;
}
.social-button--snapchat {
  color: #eec900;
}
.social-button--snapchat::after {
  background: #eec900;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}
.social-button--npmjs {
  color: #c12127;
}
.social-button--npmjs::after {
  background: #c12127;
}
